*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: darkblue;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}
#logo{
    width: 40px;
}
input{
    padding: 8px;
    border: none;
    width: 100%;
}
#search-holder{
display: flex;
flex-direction: row;
align-items: center;
width: 30%;
background-color: white;
border-radius: 8px;
padding-left: 16px;
padding-right: 16px;

}
#search-holder img{
    width: 24px;
    height: 24px;
    opacity: 75%;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style:none;
    gap: 25px;
}
nav ul a{
    text-decoration: none;
    color: white;
}